.jumbotron{
    background-color: #337ab7;
    margin-bottom: 0px;
    padding: 15px;
    position: relative;
    color: #FFF;
}

.jumbotron h3{
    font-weight: bold;
}

.jumbotron button{
    position: absolute;
    top: 1px;
    font-weight: 500;
}

.jumbotron #close-btn{
    right: 1px;
}

.jumbotron #min-btn{
    right: 35px;
}

.fa-lg {
    font-size: 3.33333333em;
    line-height: .75em;
    vertical-align: -15%;
}